node_modules
.DS_Store
.prettierrc
Dockerfile

#Changes below are mine
#This is ignoring any .idea, .cache, dist folder in the project
.idea
.cache
dist
#This is ignoring any package-lock.json file in the project
package-lock.json